// Here you can add other styles
.header-fixed {
	.app-header {
		top: 0px;
	}
}

.app-footer div {
	padding: 1rem 0 !important;
}

.card {
	.card-search {
		border: solid 1px #ddd;
		border-radius: 2px;
		padding: 0 10px;
	}
}

