@import "./core-ui/vendors/variables";
@import "./core-ui/style";
@import "./core-ui/vendors/pace-progress/pace";

@import "~font-awesome/scss/font-awesome";
@import "~flag-icon-css/sass/flag-icon";
@import "~simple-line-icons/scss/simple-line-icons";
@import "~toastr/toastr.scss";
@import "~sweetalert2/src/sweetalert2";
@import "./sortable";

.loading-bg {
	background: url('../img/Disqus-1s-200px.gif') center center no-repeat;
}
.crop {
	overflow: hidden;
	img {
		height: 100%;
	}
}

.borderize {
	border: solid 5px #f5f5f5;
	box-shadow: 0 0 6px rgba(0,0,0,0.5);
}

.circle {
	border-radius: 100%;
}

.centered {
	margin-left: 25%;
	margin-right: 50%;
}